DISCORD_TOKEN=coloque_o_token_do_bot_aqui
WELCOME_CHANNEL_ID=coloque_o_id_do_canal_de_boas_vindas_aqui
GOODBYE_CHANNEL_ID=coloque_o_id_do_canal_de_despedida_aqui

# Lavalink
LAVALINK_HOST=127.0.0.1
LAVALINK_PORT=2333
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_SECURE=false
LAVALINK_SEARCH_SOURCE=ytmsearch
LAVALINK_DEFAULT_VOLUME=80
